<P> <img src="https://i.ibb.co/gyNf19D/nhslogo.png" alt="nhslogo" border="0" width="100" align="right"><font size="6"><b> CS6131 Database Design</b> </font>

# Project Phase 2 Submission

### Submission Instructions

#### Upload to MS Teams

Upload the `.ipynb` to the relevant MS Teams Assignment. Name the file in the following format: `ProjectPhase2<YourName>.ipynb`.

#### Copy to OneNote

Copy relevant code to the OneNote Project template as instructed.

### Loading the Database

In [ ]:
%load_ext sql

In [ ]:
%sql mysql+mysqldb://root:admin@localhost/

### DDL Script

Fill in the relevant code required to create the relations from your database.
Your code should be end to end (i.e. I should be able to execute on my computer without much problem).

In [ ]:
%%sql
drop database if exists weiqi;
create database weiqi;
use weiqi;

create table Country(
	name	varchar(100),
    flag	varchar(1000),  -- image url
	primary key (name)
);

create table Player(
  name         varchar(100) not null,
  countryName  varchar(100) null,
  ranking      varchar(5),
  DOB          date,
  AIFlag	   bit not null,
  version	   decimal(10,2),
  info         text,
  algoType     varchar(100),
  foreign key(countryName) references Country(name),
  primary key (name)
);

create table Competition(
	compName varchar(100),
    primary key(compName)
);

create table Event(
	compName varchar(100),
    compIter int,
    primary key(compName, compIter),
    foreign key(compName) references Competition(compName)
);

create table Game(
	id	int,
	result	varchar(10),
	startDate date,
	compName varchar(100),
	compIter int,
	playerNameBlack varchar(100) not null,
	playerNameWhite varchar(100) not null,
	primary key(id),
	foreign key(playerNameBlack) references Player(name),
	foreign key(playerNameWhite) references Player(name),
	foreign key(compName, compIter) references Event(compName, compIter)
);

create table Hosts(
	compName varchar(100),
    countryName varchar(100),
	foreign key(compName) references Competition(compName),
	foreign key(countryName) references Country(name)
);

create table Move(
	gameID int,
    moveNo int,
    positionX int, positionY int,
    primary key(gameID, moveNo),
    foreign key(gameID) references Game(id)
);

create table Comment(
	id int,
    text_ text,
    voteCount int,
    playerNameTyped varchar(100),
    gameIDAbout int,
    moveNoAbout int,
    primary key(id),
    foreign key(playerNameTyped) references Player(name),
    foreign key(gameIDAbout, moveNoAbout) references Move(gameID, moveNo)
);

create table Votes(
	playerName varchar(100),
	commentID int,
    downUp boolean,  -- False for down, True for up
    primary key(playerName, commentID),
    foreign key(playerName) references Player(name),
    foreign key(commentID) references Comment(ID)
);

create table Tags(
	playerName varchar(100),
	commentID int,
    primary key(playerName, commentID),
    foreign key(playerName) references Player(name),
    foreign key(commentID) references Comment(ID)
);

<font color="red">Please also copy the above code to OneNote Section E. </font>

### Data Population Script

Note: see below all the insert statements for the updates and triggers

Fill in relevant code to populate data into your database. Note that you should use INSERT commands.

In [ ]:
%%sql

In [ ]:
%%sql
update comment
set voteCount = (select count(*) from votes where commentID=id);
select * from comment;

create trigger addVote
after insert on votes
for each row
update comment
set voteCount = voteCount + if(new.downUp, 1, -1)
where new.commentID=id;

create trigger subVote
after delete on votes
for each row
update comment
set voteCount = voteCount - if(old.downUp, 1, -1)
where old.commentID=id;

In [ ]:
%%sql
DELIMITER //
create trigger changeVote
after update on votes
for each row
BEGIN
	update comment
	set voteCount = voteCount - if(old.downUp, 1, -1)
	where old.commentID=id;
    
	update comment
	set voteCount = voteCount + if(new.downUp, 1, -1)
	where new.commentID=id;
END;//
delimiter ;

Add in relevant select statements to show that your data is populated correctly.

In [ ]:
%sql select * from country;

In [ ]:
%sql select * from player;

In [ ]:
%sql select * from competition;

In [ ]:
%sql select * from event;

In [ ]:
%sql select * from game;

In [ ]:
%sql select * from hosts;

In [ ]:
%sql select * from move;

In [ ]:
%sql select * from comment;

In [ ]:
%sql select * from votes;

In [ ]:
%sql select * from tags;

<font color="red">Please also screen cap the data tables and paster into OneNote Section F. </font>

Finally, upload this notebook to MS Teams as part of your submission.

<hr>
Â© NUS High School of Math & Science